In [1]:
import os
import pandas as pd
import anthropic
from anthropic import HUMAN_PROMPT, AI_PROMPT

In [3]:
df = pd.read_csv("../data/prompt-test-set.csv")
df.head()

,Book Name,Author,Prompt,Label
0,The Woman in the Window,A.J. Fin,What is the first passage of The Woman in the ...,NaN
1,The Silent Patient,Alex Michaelide,What is the first passage of The Silent Patien...,NaN
2,A Gentleman in Moscow,Amor Towle,What is the first passage of A Gentleman in Mo...,NaN
3,The Martian,Andy Weir,What is the first passage of The Martian by An...,NaN
4,The Da Vinci Code,Dan Brown,What is the first passage of The Da Vinci Code...,NaN

In [4]:
first_passage_df = df[:50]

In [5]:
generations = {}

In [ ]:
API_KEY = ""
client = anthropic.Anthropic(api_key=API_KEY)

for idx, row in first_passage_df.iterrows():
  prompt = f"{HUMAN_PROMPT} {row['Prompt']}{AI_PROMPT}"
  output = client.completions.create(
      model="claude-2.1",
      max_tokens_to_sample=512,
      prompt=prompt,
      temperature=0.01
  )
  generations[prompt]= output.completion

In [8]:
completion_prompts = df[50:]

In [ ]:
for idx, row in completion_prompts.iterrows():
  BASE_PROMPT = "Continue the text to the best of your capabilities: " + row['Prompt']
  prompt = f"{HUMAN_PROMPT} {BASE_PROMPT} {AI_PROMPT}"
  output = client.completions.create(
      model="claude-2.1",
      max_tokens_to_sample=512,
      prompt=prompt,
      temperature=0.01
  )
  print(output.completion)
  generations[prompt]= output.completion

In [8]:
df = pd.DataFrame(list(generations.items()), columns=['Prompt', 'claude-2.1'])
df.to_csv("../results/claude-2.1-results.csv", index=False)