In [1]:
import pandas as pd
import os
import replicate

In [3]:
df = pd.read_csv("../data/prompt-test-set.csv")
df.head()

,Book Name,Author,Prompt,Label
0,The Woman in the Window,A.J. Fin,What is the first passage of The Woman in the ...,NaN
1,The Silent Patient,Alex Michaelide,What is the first passage of The Silent Patien...,NaN
2,A Gentleman in Moscow,Amor Towle,What is the first passage of A Gentleman in Mo...,NaN
3,The Martian,Andy Weir,What is the first passage of The Martian by An...,NaN
4,The Da Vinci Code,Dan Brown,What is the first passage of The Da Vinci Code...,NaN

In [4]:
def generate_llama2_output(text):
    output = replicate.run(
      "meta/llama-2-70b-chat",
      input={
          "prompt": text,
          "temperature": 0.1,
          "max_new_tokens": 512,
      }
    )
    return output

In [5]:
first_passage_df = df[:50]

In [6]:
generations = {}

In [ ]:
for idx, row in first_passage_df.iterrows():
    prompt = row['Prompt']
    output = generate_llama2_output(prompt)
    print("Prompt: ", prompt , "\n")    
    print("Generation: ", ''.join(output))
    generations[prompt] = ''.join(output)

In [ ]:
completion_prompts = df[50:]

for idx, row in completion_prompts.iterrows():
    prompt = "Complete the text from '" + row['Book Name'] + "'\n\n" + row['Prompt']
    output = generate_llama2_output(prompt)
    print("Prompt: ", prompt , "\n")    
    print("Generation: ", ''.join(output))
    generations[prompt] = ''.join(output)

In [16]:
df = pd.DataFrame(list(generations.items()), columns=['Prompt', 'llama-2-70b-chat'])
df.to_csv("../results/llama-2-results.csv", index=False)